body{
	font-family:"Microsoft YaHei","Arial";
	color:#888;
	background-color:#eee;
	
}



#background-zone{
	background:url("./images/bg.jpg") no-repeat;
	position: fixed;
	width:100%;
	height:100%;
    margin: 0 auto;
	padding:auto;
	background-size:cover;
    /*border: 10px solid #aaa;*/
}


.moveItems{
	display:block;
	width:10%;
	position:absolute;
	float:left;
	/*left:300px;
	top:200px;*/
}