body{
	font-family:"Microsoft YaHei","Arial";
	color:#ccc;
	background-color:#eee;
	margin:1em 10%;
	
}
h1{
	color:#333;
	background-color:transparent;
}
a{
	color:#c60;
	background-color:transparent;
	font-weight:bold;
	text-decoration:none;
}
ul{
	padding:0;
}
li{
	float:left;
	padding:1em;
	list-style:none;
}
img{
	display:block;
	clear:both;
}


#imagezone{
	position: relative;
	height:1000px;
	width:800px;
	
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    outline: 1px solid #000;
}