section, header, article, nav{
    display:block;
}
*{
    padding:0;
    margin:0;
}
body{
    margin:1em 10%;
    background-image: url(../images/background.gif);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width:80em;
}
header{
    background-image: url(../images/person.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
}
header nav{
    background-image: url(../images/navbar.gif);
    background-position: bottom left;
    background-repeat: repeat-x;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;  
    border-top-width: 0;
    padding-left: 10%;
}
header nav ul{
    width:100%;
    overflow: hidden;
    border-left-width: .1em;
    border-left-style: solid;
}
header nav li{
    display:inline;
}
header nav li a{
    display:block;
    float:left;
    padding:.5em 2em;
    border-right:.1em solid;
}
article{
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding:2em 10%;
    line-height: 1.8em;
}
article img{
    border-width:.1em;
    border-style: solid;
    border-top-width: 0;
    padding:2em 10%;
    line-height: 1.8em;
}
article img{
    border-width:.1em;
    border-style: solid;
    outline-width: .1em;
    outline-style: solid;
}