* {
    color: #000;
    padding: 0px;
    margin: 0px;
    /* border: 1px dashed #333; */
    /* font-family: "Times New Roman", Times, serif; */
}

body {
    background-color: #FFF;
    background-image: url("../common/bg_paper.jpg");
    font-size: 20px;
}

.titleArea {
    font-size: 3em;
    font-weight: bold;
    font-family: "宋体";
    text-align: center;
    margin: 6px;
}

#mainArea {
    width: 90%;
    margin: 0 auto;
    font-family: "仿宋";
}

.termArea {
    margin: 0 auto;
}

.termArea * {
    /* border: 1px dotted #333; */
}

.weatherArea {
    margin: auto;
}

.term-name {
    background-color: #f1f1f1;
}

.weather-name {
    display: inline-block;
    width: 10%;
    /* height: 5em; */
    margin: 0;
    padding: 0.5em 0.5em;
    /* background-color: #EEE; */
    font-size: 1.5em;
    font-family: "楷体";
    text-align: center;
    vertical-align: middle;
    /* writing-mode: vertical-lr; */
}

.color-name {
    height: 5em;
    width: 18%;
    display: inline-block;
    background-color: #EEE;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    /* padding: 1em 0px 0px 0px; */
    border: 1px dotted #333;
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
}